@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;0,400;0,500;0,600;1,200&family=Nunito:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.copy{
    font-weight: bold;
}

/* NAV BAR */
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 20px;
    opacity: 80%;
    background-color: #3B3332;
    padding-right: 80px;
    z-index: 2;
    border-bottom: 2px solid #4ab642;
    align-items: center;
}

.navbar a {
    color: whitesmoke;
    opacity: 100%;
    transition: all 0.3s ease;
}

.navbar a:hover {
    color: #4ab642;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links li {
    padding-top: 15px;
    padding-bottom: 15px;
    height: 100%;
    width: 159px;
    border-radius: 20px;
    text-align: center;
}

.nav-links li:hover{
    background-color: #211C1C;
    cursor: pointer;
    transition: all 0.5s ease;
}

.navbar ul li ul {
    display: flex;
    visibility: hidden;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: #211C1C;
    position: absolute;
    width: 159px;
    margin-top: 0px;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transform: translateY(10px);
    opacity: 0;
    transition: 0.5s ease;
}

.navbar ul li:hover > ul {
    transform: translate(0,0);
    opacity: 1;
    visibility: visible;
}

.active a {
    color:#4ab642;
    text-decoration: underline;
    font-weight: bold;
}

header {
    width: 100%;
    height: 100vh;
    background-image: url('../images/banner.jpg');
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
}

.header-content {
    margin-bottom: 150px;
    color: #3B3332;
    text-align: center;
}
.header-content h2 {
    font-size: 4vmin;
}
.line {
    width: 150px;
    height: 4px;
    background: #4ab642;
    margin: 10px auto;
    border-radius: 5px;
}
.header-content h1 {
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}
.ctn {
    padding: 8px 15px;
    background: #4ab642;
    border-radius: 30px;
    color: whitesmoke
}
.menu-btn {
    position:absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}
/* Events */
section {
    width: 80%;
    margin: 80px auto;
}
.title {
    text-align: center;
    font-size: 4vmin;
    color: #3B3332;
}

.footer {
    align-items: end;
    width: 100%;
    min-height: 100px;
    padding: 20px 80px;
    margin: 0;
    background: #787878;
    text-align: center;
}
.footer p {
    color: whitesmoke;
    margin: 20px;
}

.logo {
    padding-left: 10px;
    height: 35px;
    opacity: 100%;
}

#logo a{
    padding: 0px 0px 0px 0px;
}

/* Login styles */
/* Header styles */
.login-header {
    align-items: start;
}

/* login Form */
.wrapper {
    margin: 100px auto;
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.form-box h2{
    font-size: 2em;
    color: #3B3332;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #3B3332;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #3B3332;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #3B3332;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #3B3332;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: #3B3332;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #3B3332;
    margin-right: 3px;
}

.remember-forgot a {
    color: #3B3332;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #3B3332;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.login-register {
    font-size: .9em;
    color: #3B3332;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #3B3332;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}

/* Login Navbar */
.login-navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 20px;
    opacity: 80%;
    background-color: #3B3332;
    z-index: 2;
    border-bottom: 2px solid #4ab642;
}

#login-logo {
    margin: 0 auto;
    padding-top: 15px;
    border-radius: 40%;
}
.login-logo {
    padding-bottom: 5px;
    height: 50px;
    opacity: 100%;
}

/* Admin styles */
.admin-header {
    align-items: start;
    min-height: 100vh;
    height: 100%;
}

.admin-table {
    z-index: 1;
    margin: 100px auto;
    background: transparent;
    border-radius: 20px;
    backdrop-filter: blur(50px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5); 
}

.admin-table caption {
    font-size: 28px;
    color: #3B3332;
    font-weight: bold;
    margin: 8px 0px;
}

.admin-table th {
    border-bottom: 2px solid #4ab642;
}

.admin-table th, .admin-table td {
    font-size: 16px;
    color: #3B3332;
    padding: 8px;
    text-align: center;
}

/* manual styles */
.manual-header {
    align-items: start;
    flex-direction: column;
    height: 100%;
}

.titulo {
    width: 40%;
    height: 50px;
    /*margin-top: 100px;
    margin-left: auto;
    margin-right: auto;*/
    margin: 100px auto 30px;
    background: transparent;
    border-radius: 20px;
    backdrop-filter: blur(50px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    border-bottom: 2px #4ab642 solid;
    text-align: center;
    font-size: 28px;
    color: #3B3332;
    font-weight: bold;
}

.container {
    width: 100%;
    margin: 0px auto ;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.caja img {
    width: 100%;
    border-radius: 20px;
}

.caja {
    background: transparent;
    border-radius: 20px;
    backdrop-filter: blur(50px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    text-align: center;
    line-height: 60px;
    width: 200px;
    margin: 15px;
    transform: translateY(10px);
    transition: all 0.5s ease;
}

.caja:hover {
    transform: translate(0,0);
}

.image-title {
    margin-top: -30px;
    text-align: center;
    font-size: 20px;
    color: #3B3332;
    font-weight: bold;
}

/* obsolete styles */

.obs-header {
    height: 100%;
}
/* Modal styles */
.boton-modal {
    padding: 10px;
}

.boton-modal label{
    padding: 10px 15px;
    background-color: #3B3332;
    color:#fff;
    border-radius: 6px;
    cursor: pointer;
    transition: all 300ms ease;
}

.boton-modal label:hover {
    background-color: #211C1C;
}


/* Button Modal */

/* En Button-modal */

/* Window modal */
#btn-modal {
    display: none;
}

.container-modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0; left: 0; right: 0;
    display: flex;
    justify-content: center;
    align-items: start;
    z-index: 100;
    /*transform: scale(0);*/
    visibility: hidden;
    transform: translateY(10px);
    opacity: 0;
    transition: .5s ease;
}

#btn-modal:checked ~ .container-modal {
    transform: translate(0,0);
    opacity: 1;
    visibility: visible;
}

.content-modal {
    position: sticky;
    width: 90%;
    top: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 500px;
    padding: 5px 10px 5px 5px;
    background-color: gray;
    opacity: 95%;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    border-radius: 20px;
}

.content-modal iframe {
    border-radius: 20px;
    width: 95%;
    height: 90%;
}

.content-modal .btn-cerrar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.content-modal .btn-cerrar label {
    padding: 7px 10px;
    background-color: #3B3332;
    color:#fff;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    transition: all 300ms ease;
    margin-right: -10px;
    margin-top: -5px;
    margin-bottom: 10px;
}

.content-modal .btn-cerrar label:hover {
    background-color: #211C1C;
}

/*  end window modal */

/* Mobile device */
@media only screen and (max-width: 850px) {
    .admin-header {
        height: 100%;
    }

    .menu-btn {
        display: block;
        top: 15px;
    }
    
    .navbar {
        padding: 0;
        background-color: #3B3332;
        opacity: 90%;
        padding-bottom: 70px;
    }

    .navbar a {
        color: whitesmoke;
    }

    .active a {
        color:#4ab642;
        text-decoration: underline;
        font-weight: bold;
    }
    
    .logo {
        position: absolute;
        height: 50px;
        top: 10px;
        left: 0px;
    }

    #login-logo {
        padding: 0;
    }
    
    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: center;
        background: #3B3332;
        margin-top: -900px;
        transition: all 0.5s ease;
        padding-top: 80px;
    }

    .mobile-menu {
        margin-top: 0px;

    }

    .nav-links li {
        margin: auto;
        width: 100%;
        text-align: center;
        padding: 30px 0 30px 0;
    }

    .navbar ul li:hover ul {
        margin-top: 0px;
        width: 100%;
        text-align: center;
        padding: 30px 0 30px 0;
        background-color: #211C1C;
        border-bottom: 2px solid #4ab642;
        border-radius: 0px;
    }

    /* Administrar responsive styles */
    .admin-table {
        width: 90%;
        border: 0px;
    }
    
    .admin-table caption{
        font-size: 22px;
    }

    .admin-table th {
        display: none;
    }

    .admin-table tr {
        margin-bottom: 8px;
        border-radius: 20px;
        display: block;
    }

    .tr-interior {
        margin-left: 10px;
        margin-right: 10px;
        border-bottom: 2px solid #4ab642;
        border-top: 2px solid #4ab642;
    }

    .admin-table th, .admin-table td {
        font-size: 12px;
    }

    .admin-table td {
        display: block;
        border-bottom: 1px;
        text-align: right;
    }

    .admin-table td:last-child {
        border-bottom: 0px;
    }

    .admin-table td::before {
        content: attr(data-label);
        font-weight: bold;
        text-transform: uppercase;
        float: left;
    }

    /* manual responsive styles */
    .manual-header {
        height: 100%;
    }

    .titulo {
        width: 90%;
        height: 40px;
        font-size: 22px;
    }

    .caja {
        width: 150px;
    }

    .image-title {
        margin-top: -40px;
        font-size: 15px;
    }

    /* obsolete styles */

    .container-modal {
        top: 0px;
        height: 100%;
        align-items: start;
    }

    .content-modal {
        position: sticky;
        padding: 5px 5px 5px 5px;
        top: 50px;
        height: 600px;
    }
    
    .content-modal .btn-cerrar label {
        padding: 10px;
        margin: 0;
    }
    
    .btn-cerrar {
        margin-bottom: 10px;
    }

    .content-modal iframe {
        width: 100%;
        height: 90%;
    }
}