doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title="SIGEDO V1.0"
        link(rel="stylesheet", type="text/css", href="style.css")
    body
        //----NAV BAR -----
        nav(class="navbar")
            h1(class="logo") RRT MEDICAL
            ul(class="nav-links")
                li(class="active")
                    a(href="#") Inicio
                li
                    a(href="#") Manual
                li
                    a(href="#") Revisiones
                li
                    a(href="#") Administrar
                li(class="ctn") Usuario
                    a(href="#")
            img(src="images/menu-btn.png", alt="", class="menu-btn")
        header
            div(class="header-content")
                h2 Explore The colorful world
                div(class="line")
                h1 A Wonderful Gif
                a(href="#", class="ctn") Learn More
        script. 
            const menuBtn = document.querySelector('.menu-btn')
            const navlinks = document.querySelector('.nav-links')

            menuBtn.addEventListener('click', () => {
                navlinks.classList.toggle('mobile-menu')
            })

        