doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title="SIGEDO V1.0"
        link(rel="shortcut icon", href="images/pestaña.png")
        link(rel="stylesheet", type="text/css", href="../views/styles/style.css")
        <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;0,400;0,500;0,600;1,200&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;0,400;0,500;0,600;1,200&family=Nunito:wght@900&display=swap" rel="stylesheet">
    body
        //----NAV BAR -----
        include nav.html
        header
            div(class="header-content")
                h2 Bienvenido
                div(class="line")
                h1 RRT MEDICAL
                a(href="#", class="ctn") Leer mas
        section
            div(class="title")
                h1 Upcoming Events
                div(class="line")
        section(class="footer")
            p Av Farallón del Obispo 810, Farallon, 39690 Acapulco de Juárez, Gro. | granados@myrrt.de
            p(class="copy") Copyright © 2023 S.A. de C.V.
        script. 
            const menuBtn = document.querySelector('.menu-btn')
            const navlinks = document.querySelector('.nav-links')
            menuBtn.addEventListener('click', () => {
                navlinks.classList.toggle('mobile-menu')
            })        