doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title="Manual"
        link(rel="shortcut icon", href="images/pestaña.png")
        link(rel="stylesheet", type="text/css", href="../views/styles/style.css")
        <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;0,400;0,500;0,600;1,200&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;0,400;0,500;0,600;1,200&family=Nunito:wght@900&display=swap" rel="stylesheet">
    body
        //----NAV BAR -----
        include nav.html
        header(class="manual-header")
            div(class="titulo") Manual de Procedimientos
                form(class="buscar" onsubmit="ocultarA(), event.preventDefault();")
                  label(class="for_nombre_a" for="nombre_a") Buscar por folio:
                  input(class="nombre_a" type="text" id="nombre_a" name="nombre_a")
                  button(type="button" onclick="ocultarA()") Buscar
            div(class="container-manual")
        include footer.html
        script(src="../controllers/controladorManual.js")
        script. 
            const menuBtn = document.querySelector('.menu-btn')
            const navlinks = document.querySelector('.nav-links')
            menuBtn.addEventListener('click', () => {
                navlinks.classList.toggle('mobile-menu')
            })     
        script(type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js")
        script(nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js")