nav(class="navbar")
            div(id="logo")
                img(src="images/logo.png" class="logo")
            ul(class="nav-links")
                li(class="active")
                    a(href="#") Inicio
                li 
                    a(href="#") Manual
                li 
                    a(href="#") Revisiones
                li 
                    a(href="#") Administrar 
                li 
                    a Usuario 
                    ul
                        li 
                            a(href="login.html") Iniciar sesión
                        li 
                            a(href="#") Iniciar sesión
                        li 
                            a(href="#") Iniciar sesión
            img(src="images/menu-btn.png", alt="", class="menu-btn")