nav(class="navbar-")
            div(id="logo")
                a(href="index.html")
                    img(src="images/logo.png" class="logo")
            ul(class="nav-links")
                li
                    a(href="index.html") Inicio
                li 
                    a(href="manual.html") Manual
                li 
                    a(href="revisiones.html") Revisiones
                li 
                    a(href="solicitudes.html") Solicitudes 

                li 
                    a(href="#") Usuario 
                    ul(class="Sub-menu")
                        li 
                            a(href="login.html") Iniciar sesión
                        li 
                            a(href="administrar.html") Administrar
                        li 
                            a(href="obsoletos.html") Obsoletos
                        li 
                            a(href="solicitud.html") Solicitud
            img(src="images/menu-btn.png", alt="", class="menu-btn")