nav(class="navbar")
            div(id="logo")
                img(src="images/logo.png" class="logo")
            ul(class="nav-links")
                li(class="active")
                    a(href="index.html") Inicio
                li 
                    a(href="#") Manual
                li 
                    a(href="revisiones.html") Revisiones
                li 
                    a(href="solicitudes.html") Solicitudes 
                li 
                    a Usuario 
                    ul(class="Sub-menu")
                        li 
                            a(href="login.html") Iniciar sesión
                        li 
                            a(href="administrar.html") Administrar
                        li 
                            a(href="#") Obsoletos
            img(src="images/menu-btn.png", alt="", class="menu-btn")