nav(class="navbar-")
            div(id="logo")
                a(href="/")
                    img(src="../views/images/logo.png" class="logo")
            ul(class="nav-links")
                li
                    a(href="/") Inicio
                li 
                    a(href="/manual") Manual
                li 
                    a(href="/revisiones") Revisiones
                li 
                    a(href="/solicitudes") Solicitudes 

                li 
                    a(href="#") Usuario 
                    ul(class="Sub-menu")
                        li 
                            a(href="/login") Iniciar sesión
                        li 
                            a(href="/administrar") Administrar
                        li 
                            a(href="/obsoletos") Obsoletos
                        li 
                            a(href="/solicitud") Solicitud
            img(src="images/menu-btn.png", alt="", class="menu-btn")