doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title="Administrar"
        link(rel="shortcut icon", href="images/pestaña.png")
        link(rel="stylesheet", type="text/css", href="../views/styles/style.css")
        link(rel="stylesheeet" href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.min.css")
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;0,400;0,500;0,600;1,200&family=Nunito:wght@900&display=swap" rel="stylesheet">
    body
        //----NAV BAR -----
        include nav.html
        header(class="admin-header")
            table(class="admin-table")
                caption Procedimientos Obsoletos
                    thread
                        tr
                            th Nombre del procedimiento 
                            th Area 
                            th Fecha
                            th Folio 
                            th Solicitudes 
                            th Cambios realizados
                            th Ver procedimiento
                    tbody 
                        tr(class="tr-interior")
                            td(data-label="Nombre del procedimiento") Control de cambios 
                            td(data-label="Area") Asuntos Regulatorios 
                            td(data-label="Fecha") 16/02/2023 
                            td(data-label="Folio") Q-1533-S 
                            td(data-label="Solicitudes") Ver 
                            td(data-label="Cambios realizados") - Redaccion
                            td(data-label="Ver procedimiento")
                                include modal.html
                                //a(class="obs-mobile", href="../pdf/obsoletos/baldor.pdf", download="baldor.pdf")
                                    button(class="btn") Ver
                        tr(class="tr-interior")
                            td(data-label="Nombre del procedimiento") Control de cambios 
                            td(data-label="Area") Asuntos Regulatorios 
                            td(data-label="Fecha") 16/02/2023 
                            td(data-label="Folio") Q-1533-S 
                            td(data-label="Solicitudes") Ver 
                            td(data-label="Cambios realizados") - Redaccion
                            td(data-label="Ver procedimiento")
                                include modal.html
                        tr(class="tr-interior")
                            td(data-label="Nombre del procedimiento") Control de cambios 
                            td(data-label="Area") Asuntos Regulatorios 
                            td(data-label="Fecha") 16/02/2023 
                            td(data-label="Folio") Q-1533-S 
                            td(data-label="Solicitudes") Ver 
                            td(data-label="Cambios realizados") - Redaccion
                            td(data-label="Ver procedimiento")
                                include modal.html
        section(class="footer")
            p Av Farallón del Obispo 810, Farallon, 39690 Acapulco de Juárez, Gro. | granados@myrrt.de
            p(class="copy") Copyright © 2023 S.A. de C.V.
        script. 
            const menuBtn = document.querySelector('.menu-btn')
            const navlinks = document.querySelector('.nav-links')
            menuBtn.addEventListener('click', () => {
                navlinks.classList.toggle('mobile-menu')
            })     
        script(type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js")
        script(nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js")